html,
body {
    min-width: 1200px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #ffffff;
    background-color: #9aafa3;
}

.red-button {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    border-radius: 50px;
    color: #ffffff;
    background-color: #ec573b;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    width: 560px;
    min-height: 65px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #9aafa3;
}

.main-navigation a {
    color: #ffffff;
}

.sub-menu {
    font-size: 14px;
    line-height: 16px;
    background-color: #f8f7f4;
}

.sub-menu li:not(:first-child) {
    font-weight: normal;
}

.sub-menu-item a {
    text-decoration: none;
    color: #323232;
}

.sub-menu-item a:hover,
.sub-menu-item a:active,
.sub-menu-item a:focus {
    color: #e84d37;
}

.active-sub-menu a:hover {
    color: #323232;
    background-color: #fbded7;
}

.active-sub-menu a:active {
    color: #323232;
    background-color: #f6b5a5;
}

.active-sub-menu a:visited {
    background-color: #d07058;
}

.user-navigation {
    width: 560px;
    min-height: 65px;
}

.user-navigation a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
}

.entrance-icon {
    fill: #ffffff;
}

.entrance-form a {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    text-decoration: underline;
}

.entrance-form a:hover,
.entrance-form a:active,
.entrance-form a:focus {
    color: #e84d37;
}

.basket {
    background-color: #f8f7f4;
}

.basket-drop-down td {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #323232;
}

.basket span {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #323232;
}

.basket .buy {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #fefefe;
    background-color: #e84e37;
    border-radius: 50px;
}

.phones {
    width: 265px;
    min-height: 70px;
    margin-left: auto;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.phones a {
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.phones .phones-map {
    color: #323232;
}

.phones a:hover,
.phones a:active,
.phones a:focus {
    color: #ffbc9e;
}

.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
}

.breadcrumbs a {
    color: #ffffff;
}

.filter-name {
    font-size: 14px;
    line-height: 16px;
    font-weight: medium;
    color: #ffffff;
}

.filters-form select {
    font-size: 14px;
    line-height: 16px;
    font-weight: medium;
}

.filters-button {
    font-size: 16px;
    line-height: 18px;
    font-weight: medium;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

.site-navigation,
.user-navigation,
.sub-menu,
.slider-list,
.breadcrumbs,
.catalog-list,
.gifts ul,
.catalog ul,
.features ul,
.main-footer ul {
    list-style: none;
}

.slider {
    margin: 0 27px 65px;
}

.slider h3 {
    width: 795px;
    font-size: 60px;
    line-height: 61px;
    font-weight: bold;
}

.slider-list {
    display: flex;
    flex-direction: column;
}

.slider-item {
    width: 795px;
    min-height: 584px;
    text-align: center;
}

.slider-list a {
    text-decoration: none;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
    background-color: #ec573b;
    border-radius: 50px;
}

.gifts {
    margin: 0 27px 40px;
}

.gift-list {
    display: flex;
}

.gifts .container {
    display: flex;
    justify-content: space-between;
}

.gift-item {
    width: 560px;
    min-height: 230px;
    padding: 25px 20px;
}

.gift-item h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.gift-item p {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.gift-item a {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #ec573b;
    border-radius: 50px;
}

.gift-item a:hover,
.gift-item a:active,
.gift-item a:focus {
    color: #ffbc9e;
}

.gift-item:first-child {
    margin-right: 13px;
    background-color: #9a0115;
    background-image: url("img/raspberry-back.png");
}

.gift-item:last-child {
    margin-left: 13px;
    background-color: #664b43;
    background-image: url("img/choco-back.png");
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog .container {
    display: flex;
}

.catalog-item {
    width: 267px;
    min-height: 365px;
    margin-bottom: 20px;
}

.catalog-item h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: medium;
    text-align: center;
}

.catalog-item a {
    color: #ffffff;
}

.catalog-item a:hover,
.catalog-item a:active,
.catalog-item a:focus {
    color: #ffbc9e;
}

.catalog-item p {
    font-size: 45px;
    line-height: 45px;
}

.catalog-item span {
    font-size: 28px;
}

.pagination-item a {
    font-size: 16px;
    line-height: 18px;
    font-weight: medium;
    color: #ffffff;
}

.pagination-item-current a {
    font-size: 16px;
    line-height: 18px;
    font-weight: medium;
    color: #323232;
}

.pagination-item-prev,
.pagination-item-next {
    font-size: 0;
}

.features {
    width: 1146px;
    min-height: 308px;
    padding: 30px 20px;
    margin: 0 27px 40px;
    color: #323232;
    background-color: #f0e5cf;
}

.features p {
    font-size: 24px;
    line-height: 30px;
    font-weight: medium;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-item p {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}

.news-subscribe {
    display: flex;
    justify-content: space-between;
    margin: 0 27px 40px;
}

.news {
    width: 560px;
    min-height: 220px;
    padding: 25px 20px;
    margin-right: 13px;
    background-color: #ffffff;
}

.news h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: medium;
    color: #323232;
}

.news h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.news a {
    color: #323232;
}

.news a:hover,
.news a:active,
.news a:focus {
    color: #e84d37;
}

.subscribe {
    width: 560px;
    min-height: 220px;
    padding: 35px 25px;
    margin-left: 13px;
    background-color: #f8f7f4;
}

.subscribe label {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #5a5a5a;
}

.map p {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #323232;
}

.address {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.map a {
    text-decoration: none;
}

.map a:hover,
.map a:active,
.map a:focus {
    color: #e84d37;
}

.contacts {
    width: 250px;
    height: 245px;
    padding: 30px 25px;
    background-color: #fdfefe;
}

.main-footer.container {
    display: flex;
    justify-content: space-between;
}

.social {
    width: 267px;
    min-height: 100px;
}

.footer-menu {
    width: 560px;
    min-height: 100px;
}

.footer-copyright {
    width: 265px;
    min-height: 100px;
}

.social-buttons a {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff; 
}

.footer-menu-list a {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
}

.footer-menu-list a:hover,
.footer-menu-list a:active,
.footer-menu-list a:focus {
    color: #ffbc9e;
}

.footer-menu-list li:first-child a {
    font-weight: bold; 
}

.footer-copyright p {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.footer-copyright a {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
}

.footer-copyright a:hover,
.footer-copyright a:active,
.footer-copyright a:focus {
    color: #ffbc9e;
}

.modal {
    background-color: #f8f7f4;
}

.modal p {
    font-size: 24px;
    line-height: 28px;
    font-weight: medium;
    color: #323232;
}



